In [15]:
import pandas as pd
import numpy as np
import scipy as sp
import sklearn as sk
import tournamentGameByGameCleaning as tGGC
import joinFunc as jf

In [2]:
tournamentGameByGame = tGGC.getTournamentGameByGame()
tournamentGameByGame.describe()

              Year       Seed1       Seed2       Round      spread         id
count   441.000000  441.000000  441.000000  441.000000  441.000000  441.00000
mean   2016.000000    4.784580    8.777778    0.904762    4.877551  220.00000
std       2.002271    3.220155    4.795884    1.192781   14.052611  127.44999
min    2013.000000    1.000000    1.000000    0.000000  -29.000000    0.00000
25%    2014.000000    2.000000    4.000000    0.000000   -4.000000  110.00000
50%    2016.000000    5.000000    9.000000    0.000000    5.000000  220.00000
75%    2018.000000    7.000000   13.000000    1.000000   14.000000  330.00000
max    2019.000000   16.000000   16.000000    5.000000   47.000000  440.00000

In [3]:
tournamentGameByGame

     Year       Team1  Seed1           Team2  Seed2  Round  spread winner   id
0    2013     indiana      1   james madison     16      0      21  Team1    0
1    2013    nc state      8          temple      9      0      -4  Team2    1
2    2013        unlv      5      california     12      0      -3  Team2    2
3    2013    syracuse      4         montana     13      0      47  Team1    3
4    2013      butler      6        bucknell     11      0      12  Team1    4
..    ...         ...    ...             ...    ...    ...     ...    ...  ...
436  2019      purdue      3       tennessee      2      2       5  Team1  436
437  2019    virginia      1          purdue      3      3       5  Team1  437
438  2019    virginia      1          auburn      5      4       1  Team1  438
439  2019  texas tech      3  michigan state      2      4      10  Team1  439
440  2019    virginia      1      texas tech      3      5       8  Team1  440

[441 rows x 9 columns]

In [4]:
prevTournamentStats = pd.read_csv('March Madness Data/Historical Data/mdf.csv')
prevTournamentStats = prevTournamentStats.drop(['TEAM.1', 'ROUND', 'SEED'], axis=1)
prevTournamentStats

,YEAR,TEAM,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,BARTTORVIK ADJUSTED OFFENSE,BARTTORVIK ADJUSTED DEFENSE,BARTHAG,...,3PT RATE DEFENSE,OP ASSIST %,OP O REB %,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE
0,2019,virginia,35.7,123.6,87.9,59.3,33.9,122.6,88.7,0.976,...,40.9,43.9,25.9,70.0,8.4,17.8,11.1,90.63,1.171,0.898
1,2019,duke,32.0,120.1,88.1,72.2,31.0,119.3,88.3,0.970,...,34.7,48.7,29.7,63.9,8.0,19.8,11.2,85.29,1.129,0.913
2,2019,gonzaga,32.8,125.1,92.3,69.8,32.5,124.1,91.6,0.971,...,34.6,41.1,27.1,69.4,4.9,18.9,7.1,90.91,1.241,0.909
3,2019,north carolina,29.2,119.9,90.7,74.3,28.0,119.2,91.2,0.956,...,42.5,54.7,23.2,65.4,11.1,18.5,10.0,81.82,1.126,0.955
4,2019,michigan st.,31.4,121.7,90.4,67.4,28.1,120.0,91.9,0.956,...,37.0,53.1,26.8,65.9,8.3,14.9,10.6,82.35,1.144,0.951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,2013,north carolina a&t,-5.3,92.6,97.9,64.8,-5.2,90.7,95.9,0.345,...,38.2,57.4,33.4,69.8,11.2,23.6,-11.5,52.94,0.920,0.917
472,2013,southern,-0.3,99.0,99.3,62.8,-0.7,96.3,97.0,0.479,...,30.1,41.6,31.1,73.3,8.7,20.3,-5.7,68.97,1.019,0.894
473,2013,western kentucky,-1.0,101.8,102.8,63.8,-1.3,99.2,100.5,0.463,...,31.7,44.6,31.1,65.2,10.8,20.7,-8.4,55.88,0.998,0.987
474,2013,liberty,-9.5,100.5,110.0,63.8,-10.4,97.9,108.3,0.239,...,33.1,51.6,32.9,70.7,10.6,15.2,-15.6,37.50,1.009,1.060
475,2013,liu brooklyn,-1.4,111.1,112.4,66.7,-3.2,108.2,111.4,0.417,...,30.6,53.9,33.3,65.0,9.5,18.4,-8.6,60.61,1.122,1.078

In [5]:
prevTournamentStats[((prevTournamentStats['TEAM'] == 'virginia') & (prevTournamentStats['YEAR'] == 2019))]

,YEAR,TEAM,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,BARTTORVIK ADJUSTED OFFENSE,BARTTORVIK ADJUSTED DEFENSE,BARTHAG,...,3PT RATE DEFENSE,OP ASSIST %,OP O REB %,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE
0,2019,virginia,35.7,123.6,87.9,59.3,33.9,122.6,88.7,0.976,...,40.9,43.9,25.9,70.0,8.4,17.8,11.1,90.63,1.171,0.898

In [6]:
prevTournamentCols = list(prevTournamentStats.columns)
prevTournamentCols.remove('TEAM')
prevTournamentCols.remove('YEAR')
prevTournamentCols

['KENPOM ADJUSTED EFFICIENCY',
 'KENPOM ADJUSTED OFFENSE',
 'KENPOM ADJUSTED DEFENSE',
 'KENPOM ADJUSTED TEMPO',
 'BARTTORVIK ADJUSTED EFFICIENCY',
 'BARTTORVIK ADJUSTED OFFENSE',
 'BARTTORVIK ADJUSTED DEFENSE',
 'BARTHAG',
 'ELITE SOS',
 'BARTTORVIK ADJUSTED TEMPO',
 '2PT %',
 '3PT %',
 'FREE THROW %',
 'EFG %',
 'FREE THROW RATE',
 '3PT RATE',
 'ASSIST %',
 'OFFENSIVE REBOUND %',
 'DEFENSIVE REBOUND %',
 'BLOCK %',
 'TURNOVER %',
 '2PT % DEFENSE',
 '3PT % DEFENSE',
 'FREE THROW % DEFENSE',
 'EFG % DEFENSE',
 'FREE THROW RATE DEFENSE',
 '3PT RATE DEFENSE',
 'OP ASSIST %',
 'OP O REB %',
 'OP D REB %',
 'BLOCKED %',
 'TURNOVER % DEFENSE',
 'WINS ABOVE BUBBLE',
 'WIN %',
 'POINTS PER POSSESSION OFFENSE',
 'POINTS PER POSSESSION DEFENSE']

In [7]:
tournamentGameByGame = jf.joinCols(prevTournamentCols, tournamentGameByGame, prevTournamentStats, 'TEAM', 'YEAR')
tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,TURNOVER % DEFENSE Team1,TURNOVER % DEFENSE Team2,WINS ABOVE BUBBLE Team1,WINS ABOVE BUBBLE Team2,WIN % Team1,WIN % Team2,POINTS PER POSSESSION OFFENSE Team1,POINTS PER POSSESSION OFFENSE Team2,POINTS PER POSSESSION DEFENSE Team1,POINTS PER POSSESSION DEFENSE Team2
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,...,21.2,21.3,7.8,-8.9,81.82,58.82,1.176,1.006,0.918,0.993
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,...,NaN,20.2,NaN,1.5,NaN,71.88,NaN,1.072,NaN,1.003
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,...,18.6,16.6,1.8,0.5,72.73,64.52,1.028,1.014,0.919,0.967
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,...,23.4,18.5,5.1,-1.4,74.29,79.31,1.080,1.083,0.910,1.009
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,17.3,14.3,4.7,1.0,75.76,84.38,1.055,1.075,0.980,0.923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,...,19.5,18.2,6.1,9.8,71.88,84.85,1.139,1.164,0.999,0.990
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,...,17.8,19.5,11.1,6.1,90.63,71.88,1.171,1.139,0.898,0.999
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,...,17.8,25.3,11.1,6.1,90.63,73.53,1.171,1.138,0.898,0.989
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,26.7,...,23.0,NaN,7.0,NaN,81.25,NaN,1.098,NaN,0.953,NaN
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,...,17.8,23.0,11.1,7.0,90.63,81.25,1.171,1.098,0.898,0.953

In [8]:
prevTournamentStats[prevTournamentStats['TEAM'] == 'butler']

,YEAR,TEAM,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,BARTTORVIK ADJUSTED OFFENSE,BARTTORVIK ADJUSTED DEFENSE,BARTHAG,...,3PT RATE DEFENSE,OP ASSIST %,OP O REB %,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE
104,2018,butler,17.9,115.8,97.9,67.8,19.8,115.2,95.4,0.897,...,37.5,50.5,24.7,72.7,8.7,19.8,1.7,60.61,1.108,1.019
149,2017,butler,20.9,118.0,97.1,65.3,20.9,117.5,96.6,0.905,...,37.6,43.0,27.8,71.9,7.8,20.1,5.5,74.19,1.131,1.014
236,2016,butler,15.8,117.3,101.5,67.7,18.9,118.0,99.1,0.882,...,36.9,50.9,27.8,67.2,10.7,18.6,2.1,67.74,1.144,1.011
293,2015,butler,19.6,110.6,90.9,63.0,19.5,108.7,89.2,0.907,...,33.9,50.6,24.9,64.5,11.0,19.3,3.5,68.75,1.065,0.937
429,2013,butler,14.8,110.1,95.3,62.6,16.0,109.3,93.3,0.861,...,30.8,48.4,26.0,63.8,9.1,17.3,4.7,75.76,1.055,0.980

In [9]:
tournamentGameByGame[tournamentGameByGame['Team1'] == 'butler']

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,TURNOVER % DEFENSE Team1,TURNOVER % DEFENSE Team2,WINS ABOVE BUBBLE Team1,WINS ABOVE BUBBLE Team2,WIN % Team1,WIN % Team2,POINTS PER POSSESSION OFFENSE Team1,POINTS PER POSSESSION OFFENSE Team2,POINTS PER POSSESSION DEFENSE Team1,POINTS PER POSSESSION DEFENSE Team2
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,17.3,14.3,4.7,1.0,75.76,84.38,1.055,1.075,0.980,0.923
10,2013,butler,6,marquette,3,1,-2,Team2,10,14.8,...,17.3,19.9,4.7,4.5,75.76,74.19,1.055,1.066,0.980,0.969
145,2015,butler,6,texas,11,0,8,Team1,145,19.6,...,19.3,14.2,3.5,0.9,68.75,60.61,1.065,1.066,0.937,0.947
151,2015,butler,6,notre dame,3,1,-3,Team2,151,19.6,...,19.3,17.4,3.5,8.6,68.75,85.29,1.065,1.213,0.937,1.010
285,2017,butler,4,winthrop,13,0,12,Team1,285,20.9,...,20.1,18.7,5.5,-1.8,74.19,80.00,1.131,1.086,1.014,0.975
326,2018,butler,10,purdue,2,1,-3,Team2,326,17.9,...,19.8,17.7,1.7,7.6,60.61,82.35,1.108,1.186,1.019,0.959

In [10]:
seasonStats = pd.read_csv('March Madness Data/Season_Stat_Data_13_21/ncaam_season_stats_13-19.csv')
seasonStats = seasonStats.drop(['Unnamed: 0'], axis=1)
seasonStats

,Team,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,Year,WIN_RATE
0,unc,ACC,123.3,94.9,0.9531,52.6,48.1,15.4,18.2,40.7,...,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2016,0.825000
1,wisconsin,B10,129.1,93.6,0.9758,54.8,47.7,12.4,15.8,32.1,...,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2015,0.900000
2,michigan,B10,114.4,90.4,0.9375,53.9,47.7,14.0,19.5,25.5,...,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2018,0.825000
3,texas tech,B12,115.2,85.2,0.9696,53.5,43.0,17.7,22.8,27.4,...,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2019,0.815789
4,gonzaga,WCC,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,...,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017,0.948718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,michigan state,B10,111.4,87.8,0.9392,50.6,44.5,20.8,19.2,36.1,...,36.6,32.4,50.4,44.3,34.1,30.1,64.4,6.7,2013,0.742857
1265,arizona,P12,114.4,92.2,0.9229,52.5,46.6,19.5,19.8,35.0,...,37.4,32.9,50.6,43.4,37.1,35.8,66.8,4.6,2013,0.771429
1266,oregon,P12,104.8,88.6,0.8728,49.3,46.4,21.4,22.0,35.8,...,38.4,33.3,49.1,44.9,33.3,33.4,69.2,2.9,2013,0.756757
1267,la salle,A10,112.0,96.2,0.8516,51.9,49.3,17.1,21.3,29.0,...,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,2013,0.705882
1268,florida gulf coast,ASun,103.4,96.3,0.6952,51.6,46.9,21.0,22.1,32.5,...,35.2,32.7,52.3,46.9,33.4,31.3,69.1,-4.0,2013,0.685714

In [11]:
seasonStatsCols = list(seasonStats.columns)
seasonStatsCols.remove('Team')
seasonStatsCols.remove('Year')
seasonStatsCols

['CONF',
 'ADJOE',
 'ADJDE',
 'BARTHAG',
 'EFG_O',
 'EFG_D',
 'TOR',
 'TORD',
 'ORB',
 'DRB',
 'FTR',
 'FTRD',
 '2P_O',
 '2P_D',
 '3P_O',
 '3P_D',
 'ADJ_T',
 'WAB',
 'WIN_RATE']

In [17]:
#Joining season stats
tournamentGameByGame = jf.joinCols(seasonStatsCols, tournamentGameByGame, seasonStats, 'Team', 'Year')
tournamentGameByGame.dtypes

Year                int64
Team1              object
Seed1               int64
Team2              object
Seed2               int64
                   ...
ADJ_T Team2       float64
WAB Team1         float64
WAB Team2         float64
WIN_RATE Team1    float64
WIN_RATE Team2    float64
Length: 117, dtype: object

In [33]:
team = set(list(tournamentGameByGame['Team1'].unique()) + list(tournamentGameByGame['Team2'].unique()))
num = [i for i in range(len(team))]
d = dict(zip(team,num))
d

{'kansas state': 0,
 'utah': 1,
 'wright state': 2,
 'milwaukee': 3,
 'notre dame': 4,
 'kansas': 5,
 'new mexico state': 6,
 'northwestern state': 7,
 'robert morris': 8,
 'south dakota state': 9,
 'kentucky': 10,
 'colorado state': 11,
 'indiana': 12,
 'arkansas': 13,
 'liberty': 14,
 'providence': 15,
 'old dominion': 16,
 'butler': 17,
 'seton hall': 18,
 'cincinnati': 19,
 'utah state': 20,
 'manhattan': 21,
 "st. john's (ny)": 22,
 'miami (fl)': 23,
 "st. joseph's": 24,
 'florida': 25,
 'holy cross': 26,
 'abilene christian': 27,
 'middle tennessee': 28,
 'cal poly': 29,
 'lsu': 30,
 'southern': 31,
 'smu': 32,
 'duke': 33,
 "saint mary's": 34,
 'pacific': 35,
 'oregon': 36,
 'maryland': 37,
 'northwestern': 38,
 'george washington': 39,
 'delaware': 40,
 'american': 41,
 'kent state': 42,
 'arizona state': 43,
 'michigan': 44,
 'uconn': 45,
 'montana': 46,
 "mount st. mary's": 47,
 'georgia': 48,
 'northeastern': 49,
 'gonzaga': 50,
 'eastern washington': 51,
 'houston': 52,
 'eastern kentucky': 53,
 'syracuse': 54,
 'texas southern': 55,
 'missouri': 56,
 'temple': 57,
 'georgetown': 58,
 'alabama': 59,
 'creighton': 60,
 'harvard': 61,
 'lipscomb': 62,
 'penn': 63,
 'wichita state': 64,
 'colgate': 65,
 'unlv': 66,
 'green bay': 67,
 'alabama-birmingham': 68,
 'louisiana': 69,
 'saint louis': 70,
 'nebraska': 71,
 'oklahoma': 72,
 'ucla': 73,
 'lafayette': 74,
 'vcu': 75,
 'marshall': 76,
 'ole miss': 77,
 'wisconsin': 78,
 'texas': 79,
 'auburn': 80,
 'north carolina central': 81,
 'florida gulf coast': 82,
 'marquette': 83,
 'illinois': 84,
 'vanderbilt': 85,
 'arizona': 86,
 'princeton': 87,
 'college of charleston': 88,
 'north dakota state': 89,
 'troy': 90,
 'little rock': 91,
 'valparaiso': 92,
 'coastal carolina': 93,
 'loyola (il)': 94,
 'uc-davis': 95,
 'purdue': 96,
 'xavier': 97,
 'belmont': 98,
 'pitt': 99,
 'clemson': 100,
 'north dakota': 101,
 'stephen f. austin': 102,
 'western michigan': 103,
 'wyoming': 104,
 'cal state fullerton': 105,
 'umass': 106,
 'stanford': 107,
 'bucknell': 108,
 'nc state': 109,
 'radford': 110,
 'ucf': 111,
 'iona': 112,
 'st. bonaventure': 113,
 'buffalo': 114,
 'west virginia': 115,
 'unc': 116,
 'north carolina a&t': 117,
 'louisville': 118,
 'nevada': 119,
 'akron': 120,
 'iowa': 121,
 'murray state': 122,
 'hampton': 123,
 'bradley': 124,
 'colorado': 125,
 'davidson': 126,
 'baylor': 127,
 'vermont': 128,
 'minnesota': 129,
 'uc-irvine': 130,
 'oregon state': 131,
 'albany (ny)': 132,
 'georgia state': 133,
 'cal state bakersfield': 134,
 'villanova': 135,
 'washington': 136,
 'northern kentucky': 137,
 'hawaii': 138,
 'jacksonville state': 139,
 'virginia tech': 140,
 'mississippi state': 141,
 'california': 142,
 'umbc': 143,
 'fairleigh dickinson': 144,
 'iowa state': 145,
 'weber state': 146,
 'florida state': 147,
 'ohio state': 148,
 'fresno state': 149,
 'winthrop': 150,
 'unc wilmington': 151,
 'tulsa': 152,
 'stony brook': 153,
 'la salle': 154,
 'memphis': 155,
 'chattanooga': 156,
 'gardner-webb': 157,
 'south carolina': 158,
 'western kentucky': 159,
 'rhode island': 160,
 'oklahoma state': 161,
 'san diego state': 162,
 'mercer': 163,
 'usc': 164,
 'virginia': 165,
 'tennessee': 166,
 'texas tech': 167,
 'james madison': 168,
 'unc asheville': 169,
 'northern iowa': 170,
 'new mexico': 171,
 'wofford': 172,
 'tcu': 173,
 'byu': 174,
 'michigan state': 175,
 'austin peay': 176,
 'texas a&m': 177,
 'unc greensboro': 178,
 'dayton': 179,
 'etsu': 180,
 'yale': 181}

In [32]:
int_team1 = []
int_team2 = []
for i, row in tournamentGameByGame.iterrows():
    int_team1.append(d[row['Team1']])
    int_team2.append(d[row['Team2']])
tournamentGameByGame['Team1int'] = int_team1
tournamentGameByGame['Team2int'] = int_team2
tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,3P_D Team1,3P_D Team2,ADJ_T Team1,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2,Team1int,Team2int
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,...,30.4,34.7,67.8,64.2,7.8,-8.9,0.805556,0.583333,12,168
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,...,30.2,35.3,68.1,66.8,2.2,1.5,0.685714,0.705882,109,57
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,...,31.6,33.6,69.3,66.5,1.8,0.5,0.705882,0.636364,66,142
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,...,28.4,33.3,65.4,63.9,5.1,-1.4,0.750000,0.766667,54,46
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,33.2,30.5,64.7,63.4,4.7,1.0,0.742857,0.818182,17,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,...,34.2,35.4,67.0,68.8,6.1,9.9,0.722222,0.861111,96,166
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,...,28.9,34.2,60.7,67.0,11.1,6.1,0.921053,0.722222,165,96
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,...,28.9,34.8,60.7,69.3,11.1,6.1,0.921053,0.769231,165,80
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,26.7,...,29.7,31.6,67.5,68.6,7.0,10.7,0.815789,0.820513,167,175
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,...,28.9,29.7,60.7,67.5,11.1,7.0,0.921053,0.815789,165,167

In [34]:
conf = set(list(tournamentGameByGame['CONF Team1'].unique()) + list(tournamentGameByGame['CONF Team2'].unique()))
numConf = [i for i in range(len(conf))]
d = dict(zip(conf,numConf))
d

{'WAC': 0,
 'MAC': 1,
 'NEC': 2,
 'OVC': 3,
 'MVC': 4,
 'P12': 5,
 'Amer': 6,
 'BSky': 7,
 'Slnd': 8,
 'CUSA': 9,
 None: 10,
 'AE': 11,
 'WCC': 12,
 'B12': 13,
 'Pat': 14,
 'Sum': 15,
 'SB': 16,
 'BW': 17,
 'B10': 18,
 'A10': 19,
 'Ivy': 20,
 'Horz': 21,
 'SC': 22,
 'MAAC': 23,
 'CAA': 24,
 'BE': 25,
 'ACC': 26,
 'BSth': 27,
 'SWAC': 28,
 'ASun': 29,
 'SEC': 30,
 'MWC': 31,
 'MEAC': 32}

In [40]:
int_confTeam1 = []
int_confTeam2 = []
for i, row in tournamentGameByGame.iterrows():
    int_confTeam1.append(d[row['CONF Team1']])
    int_confTeam2.append(d[row['CONF Team2']])
tournamentGameByGame['Conf Team1int'] = int_confTeam1
tournamentGameByGame['Conf Team2int'] = int_confTeam2
tournamentGameByGame['Conf Team1int']

0      18
1      26
2      31
3      25
4      19
       ..
436    18
437    26
438    26
439    13
440    26
Name: Conf Team1int, Length: 441, dtype: int64

In [29]:
tournamentGameByGame.head()

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,3P_O Team1,3P_O Team2,3P_D Team1,3P_D Team2,ADJ_T Team1,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,...,40.3,33.6,30.4,34.7,67.8,64.2,7.8,-8.9,0.805556,0.583333
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,...,39.1,32.8,30.2,35.3,68.1,66.8,2.2,1.5,0.685714,0.705882
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,...,32.6,30.2,31.6,33.6,69.3,66.5,1.8,0.5,0.705882,0.636364
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,...,33.4,36.4,28.4,33.3,65.4,63.9,5.1,-1.4,0.750000,0.766667
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,34.3,35.8,33.2,30.5,64.7,63.4,4.7,1.0,0.742857,0.818182

In [21]:
dataTypes = tournamentGameByGame.dtypes
for i, data in dataTypes.iteritems():
    print(i, data)

Year int64
Team1 object
Seed1 int64
Team2 object
Seed2 int64
Round int64
spread int64
winner object
id int64
KENPOM ADJUSTED EFFICIENCY Team1 float64
KENPOM ADJUSTED EFFICIENCY Team2 float64
KENPOM ADJUSTED OFFENSE Team1 float64
KENPOM ADJUSTED OFFENSE Team2 float64
KENPOM ADJUSTED DEFENSE Team1 float64
KENPOM ADJUSTED DEFENSE Team2 float64
KENPOM ADJUSTED TEMPO Team1 float64
KENPOM ADJUSTED TEMPO Team2 float64
BARTTORVIK ADJUSTED EFFICIENCY Team1 float64
BARTTORVIK ADJUSTED EFFICIENCY Team2 float64
BARTTORVIK ADJUSTED OFFENSE Team1 float64
BARTTORVIK ADJUSTED OFFENSE Team2 float64
BARTTORVIK ADJUSTED DEFENSE Team1 float64
BARTTORVIK ADJUSTED DEFENSE Team2 float64
BARTHAG Team1 float64
BARTHAG Team2 float64
ELITE SOS Team1 float64
ELITE SOS Team2 float64
BARTTORVIK ADJUSTED TEMPO Team1 float64
BARTTORVIK ADJUSTED TEMPO Team2 float64
2PT % Team1 float64
2PT % Team2 float64
3PT % Team1 float64
3PT % Team2 float64
FREE THROW % Team1 float64
FREE THROW % Team2 float64
EFG % Team1 float64
EFG % Team2 float64
FREE THROW RATE Team1 float64
FREE THROW RATE Team2 float64
3PT RATE Team1 float64
3PT RATE Team2 float64
ASSIST % Team1 float64
ASSIST % Team2 float64
OFFENSIVE REBOUND % Team1 float64
OFFENSIVE REBOUND % Team2 float64
DEFENSIVE REBOUND % Team1 float64
DEFENSIVE REBOUND % Team2 float64
BLOCK % Team1 float64
BLOCK % Team2 float64
TURNOVER % Team1 float64
TURNOVER % Team2 float64
2PT % DEFENSE Team1 float64
2PT % DEFENSE Team2 float64
3PT % DEFENSE Team1 float64
3PT % DEFENSE Team2 float64
FREE THROW % DEFENSE Team1 float64
FREE THROW % DEFENSE Team2 float64
EFG % DEFENSE Team1 float64
EFG % DEFENSE Team2 float64
FREE THROW RATE DEFENSE Team1 float64
FREE THROW RATE DEFENSE Team2 float64
3PT RATE DEFENSE Team1 float64
3PT RATE DEFENSE Team2 float64
OP ASSIST % Team1 float64
OP ASSIST % Team2 float64
OP O REB % Team1 float64
OP O REB % Team2 float64
OP D REB % Team1 float64
OP D REB % Team2 float64
BLOCKED % Team1 float64
BLOCKED % Team2 float64
TURNOVER % DEFENSE Team1 float64
TURNOVER % DEFENSE Team2 float64
WINS ABOVE BUBBLE Team1 float64
WINS ABOVE BUBBLE Team2 float64
WIN % Team1 float64
WIN % Team2 float64
POINTS PER POSSESSION OFFENSE Team1 float64
POINTS PER POSSESSION OFFENSE Team2 float64
POINTS PER POSSESSION DEFENSE Team1 float64
POINTS PER POSSESSION DEFENSE Team2 float64
CONF Team1 object
CONF Team2 object
ADJOE Team1 float64
ADJOE Team2 float64
ADJDE Team1 float64
ADJDE Team2 float64
EFG_O Team1 float64
EFG_O Team2 float64
EFG_D Team1 float64
EFG_D Team2 float64
TOR Team1 float64
TOR Team2 float64
TORD Team1 float64
TORD Team2 float64
ORB Team1 float64
ORB Team2 float64
DRB Team1 float64
DRB Team2 float64
FTR Team1 float64
FTR Team2 float64
FTRD Team1 float64
FTRD Team2 float64
2P_O Team1 float64
2P_O Team2 float64
2P_D Team1 float64
2P_D Team2 float64
3P_O Team1 float64
3P_O Team2 float64
3P_D Team1 float64
3P_D Team2 float64
ADJ_T Team1 float64
ADJ_T Team2 float64
WAB Team1 float64
WAB Team2 float64
WIN_RATE Team1 float64
WIN_RATE Team2 float64

In [44]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object and fit it to the column data
le = LabelEncoder()
le.fit(tournamentGameByGame['winner'])

# Transform the column data to numerical values
tournamentGameByGame['winner_num'] = le.transform(tournamentGameByGame['winner'])
# Print the original and transformed data
tournamentGameByGame

<ipython-input-44-c9bb1178b75b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tournamentGameByGame['winner_num'] = le.transform(tournamentGameByGame['winner'])

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2,Team1int,Team2int,Conf Team1int,Conf Team2int,winner_num
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,...,64.2,7.8,-8.9,0.805556,0.583333,12,168,18,24,0
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,...,66.5,1.8,0.5,0.705882,0.636364,66,142,31,5,1
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,...,63.9,5.1,-1.4,0.750000,0.766667,54,46,25,7,0
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,63.4,4.7,1.0,0.742857,0.818182,17,108,19,14,0
5,2013,marquette,3,davidson,14,0,1,Team1,5,18.7,...,65.2,4.5,-1.4,0.742857,0.757576,83,126,25,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,2019,virginia,1,oregon,12,2,4,Team1,435,35.7,...,65.4,11.1,-1.1,0.921053,0.657895,165,36,26,5,0
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,...,68.8,6.1,9.9,0.722222,0.861111,96,166,18,30,0
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,...,67.0,11.1,6.1,0.921053,0.722222,165,96,26,18,0
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,...,69.3,11.1,6.1,0.921053,0.769231,165,80,26,30,0
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,...,67.5,11.1,7.0,0.921053,0.815789,165,167,26,13,0

In [45]:
# First attempt at splitting data

# Import necessary libraries
from sklearn.svm import LinearSVR
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

# Generate X and y 
tournamentGameByGame=tournamentGameByGame.dropna(axis=0)
X=tournamentGameByGame.drop(['winner', 'winner_num', 'Team1', 'Team2', 'CONF Team1', 'CONF Team2'], axis=1)
y=tournamentGameByGame['winner_num']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a MinMaxScaler object and fit it to the training data
scaler = MinMaxScaler()
scaler.fit(X_train)

# Scale the training and testing data using the scaler
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a LinearSVR object and fit it to the scaled training data
svm = LinearSVR(random_state=42)
svm.fit(X_train_scaled, y_train)

# Predict the target values for the scaled testing set
y_pred = svm.predict(X_test_scaled)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.11511655243412701

/Users/jacobvogel/opt/anaconda3/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [46]:
X_train_scaled

array([[0.33333333, 0.36363636, 0.73333333, ..., 0.62777778, 0.4       ,
        0.        ],
       [0.66666667, 0.90909091, 0.06666667, ..., 0.47222222, 0.8       ,
        0.12903226],
       [0.16666667, 0.54545455, 0.06666667, ..., 0.23888889, 0.4       ,
        0.5483871 ],
       ...,
       [0.33333333, 0.90909091, 0.06666667, ..., 0.27222222, 0.13333333,
        0.35483871],
       [0.66666667, 0.        , 0.66666667, ..., 0.53333333, 0.36666667,
        0.77419355],
       [0.5       , 0.63636364, 0.53333333, ..., 0.07777778, 0.13333333,
        0.77419355]])

In [7]:
#Adding Kenpom Adjusted Efficiency for each team


kenPomAdjEffTeam1 = [];
kenPomAdjEffTeam2 = [];


for i in range(0,len(tournamentGameByGame)):
    teamRowJacob = tournamentGameByGame[tournamentGameByGame['id'] == i]
    team1Name = teamRowJacob.Team1
    #print(team1Name[i])
    team2Name = teamRowJacob.Team2
    year = teamRowJacob.Year
    #print(year[i])
    team1RowJack = prevTournamentStats[((prevTournamentStats['TEAM'] == team1Name[i]) & (prevTournamentStats['YEAR'] == year[i]))]
    team2RowJack = prevTournamentStats[((prevTournamentStats['TEAM'] == team2Name[i]) & (prevTournamentStats['YEAR'] == year[i]))]
    #print()
    
    #team1RowJack = prevTournamentStats.loc(prevTournamentStats['TEAM'])
    kenPomAdjEffTeam1Val = team1RowJack['KENPOM ADJUSTED EFFICIENCY']
    kenPomAdjEffTeam2Val = team2RowJack['KENPOM ADJUSTED EFFICIENCY']
    if(kenPomAdjEffTeam1Val.empty):
        kenPomAdjEffTeam1.append(None)
    else:
        #print(kenPomAdjEffTeam1Val[team1RowJack.index[0]])
        #print('--------------------')
        kenPomAdjEffTeam1.append(kenPomAdjEffTeam1Val[team1RowJack.index[0]])
        
    if(kenPomAdjEffTeam2Val.empty):
        kenPomAdjEffTeam2.append(None)
    else:
        #print(team2Name[i])
        #print(kenPomAdjEffTeam2Val[team2RowJack.index[0]])
        #print('--------------------')
        kenPomAdjEffTeam2.append(kenPomAdjEffTeam2Val[team2RowJack.index[0]])
    
tournamentGameByGame['KENPOM ADJUSTED EFFICIENCY TEAM1'] = kenPomAdjEffTeam1
tournamentGameByGame['KENPOM ADJUSTED EFFICIENCY TEAM2'] = kenPomAdjEffTeam2

tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY TEAM1,KENPOM ADJUSTED EFFICIENCY TEAM2
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,-1.7
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,12.0
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,12.7
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,2.7
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,13.4
...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,27.0
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,26.1
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,23.3
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,26.7,NaN
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,26.7

In [8]:
#Generalizing adding stat columns for all stat columns

statTeam1 = [];
statTeam2 = [];

statColName = 'KENPOM ADJUSTED OFFENSE'


for i in range(0,len(tournamentGameByGame)):
    teamRowJacob = tournamentGameByGame[tournamentGameByGame['id'] == i]
    team1Name = teamRowJacob.Team1
    #print(team1Name[i])
    team2Name = teamRowJacob.Team2
    year = teamRowJacob.Year
    #print(year[i])
    team1RowJack = prevTournamentStats[((prevTournamentStats['TEAM'] == team1Name[i]) & (prevTournamentStats['YEAR'] == year[i]))]
    team2RowJack = prevTournamentStats[((prevTournamentStats['TEAM'] == team2Name[i]) & (prevTournamentStats['YEAR'] == year[i]))]
    #print()
    
    #team1RowJack = prevTournamentStats.loc(prevTournamentStats['TEAM'])
    statTeam1Val = team1RowJack[statColName]
    statTeam2Val = team2RowJack[statColName]
    if(statTeam1Val.empty):
        statTeam1.append(None)
    else:
        #print(kenPomAdjEffTeam1Val[team1RowJack.index[0]])
        #print('--------------------')
        statTeam1.append(statTeam1Val[team1RowJack.index[0]])
        
    if(statTeam2Val.empty):
        statTeam2.append(None)
    else:
        #print(team2Name[i])
        #print(kenPomAdjEffTeam2Val[team2RowJack.index[0]])
        #print('--------------------')
        statTeam2.append(statTeam2Val[team2RowJack.index[0]])
    
tournamentGameByGame[f'{statColName} Team1'] = statTeam1
tournamentGameByGame[f'{statColName} Team2'] = statTeam2

tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY TEAM1,KENPOM ADJUSTED EFFICIENCY TEAM2,KENPOM ADJUSTED OFFENSE Team1,KENPOM ADJUSTED OFFENSE Team2
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,-1.7,122.5,99.6
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,12.0,NaN,111.5
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,12.7,106.9,107.4
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,2.7,114.5,105.6
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,13.4,110.1,107.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,27.0,121.1,122.5
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,26.1,123.6,121.1
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,23.3,123.6,119.6
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,26.7,NaN,112.7,NaN
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,26.7,123.6,112.7