In [2]:
import pandas as pd
import numpy as np
import tournamentGameByGameCleaning as tGGC
import joinFunc as jf

In [ ]:
'''
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
DO NOT RUN ALL CELLS BELOW.
WILL LOOSE REPORTS AT THE BOTTOM.
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
'''

### THIS SECTION IS SOME EXPLORATY DATA ANALYSIS TO SEE HOW OUR MODEL PIPLINE NEEDS TO BE SET UP.

In [2]:
data = pd.read_csv('finalData.csv')

In [3]:
data.dtypes

Year                int64
Team1              object
Seed1               int64
Team2              object
Seed2               int64
                   ...
ADJ_T Team2       float64
WAB Team1         float64
WAB Team2         float64
WIN_RATE Team1    float64
WIN_RATE Team2    float64
Length: 121, dtype: object

In [6]:
data.head()

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,SEED Team1,...,3P_O Team1,3P_O Team2,3P_D Team1,3P_D Team2,ADJ_T Team1,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2
0,2013,indiana,1,james madison,16,0,21,Team1,0,6.00,...,40.3,33.6,30.4,34.7,67.8,64.2,7.8,-8.9,0.805556,0.583333
1,2013,nc state,8,temple,9,0,-4,Team2,1,11.00,...,39.1,32.8,30.2,35.3,68.1,66.8,2.2,1.5,0.685714,0.705882
2,2013,unlv,5,california,12,0,-3,Team2,2,7.50,...,32.6,30.2,31.6,33.6,69.3,66.5,1.8,0.5,0.705882,0.636364
3,2013,syracuse,4,montana,13,0,47,Team1,3,2.00,...,33.4,36.4,28.4,33.3,65.4,63.9,5.1,-1.4,0.750000,0.766667
4,2013,butler,6,bucknell,11,0,12,Team1,4,7.25,...,34.3,35.8,33.2,30.5,64.7,63.4,4.7,1.0,0.742857,0.818182

In [7]:
data.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [8]:
data.shape

(439, 121)

In [9]:
string_rows = data.select_dtypes(include=['object'])
string_rows

          Team1           Team2 winner CONF Team1 CONF Team2
0       indiana   james madison  Team1        B10        CAA
1      nc state          temple  Team2        ACC        A10
2          unlv      california  Team2        MWC        P12
3      syracuse         montana  Team1         BE       BSky
4        butler        bucknell  Team1        A10        Pat
..          ...             ...    ...        ...        ...
434      purdue       tennessee  Team1        B10        SEC
435    virginia          purdue  Team1        ACC        B10
436    virginia          auburn  Team1        ACC        SEC
437  texas tech  michigan state  Team1        B12        B10
438    virginia      texas tech  Team1        ACC        B12

[439 rows x 5 columns]

In [10]:
O_rows = data.select_dtypes(include=['O'])
O_rows

          Team1           Team2 winner CONF Team1 CONF Team2
0       indiana   james madison  Team1        B10        CAA
1      nc state          temple  Team2        ACC        A10
2          unlv      california  Team2        MWC        P12
3      syracuse         montana  Team1         BE       BSky
4        butler        bucknell  Team1        A10        Pat
..          ...             ...    ...        ...        ...
434      purdue       tennessee  Team1        B10        SEC
435    virginia          purdue  Team1        ACC        B10
436    virginia          auburn  Team1        ACC        SEC
437  texas tech  michigan state  Team1        B12        B10
438    virginia      texas tech  Team1        ACC        B12

[439 rows x 5 columns]

In [11]:
team2_cols = data.filter(like='Team2')
team2_cols

,Team2,SEED Team2,ROUND Team2,KENPOM ADJUSTED EFFICIENCY Team2,KENPOM ADJUSTED OFFENSE Team2,KENPOM ADJUSTED DEFENSE Team2,KENPOM ADJUSTED TEMPO Team2,BARTTORVIK ADJUSTED EFFICIENCY Team2,BARTTORVIK ADJUSTED OFFENSE Team2,BARTTORVIK ADJUSTED DEFENSE Team2,...,DRB Team2,FTR Team2,FTRD Team2,2P_O Team2,2P_D Team2,3P_O Team2,3P_D Team2,ADJ_T Team2,WAB Team2,WIN_RATE Team2
0,james madison,8.252212,40.067478,16.002874,112.194953,96.189423,66.117970,15.784121,111.200936,95.416815,...,31.1,36.8,39.2,46.2,46.9,33.6,34.7,64.2,-8.9,0.583333
1,temple,8.000000,57.600000,16.040000,110.620000,94.580000,63.200000,15.580000,109.000000,93.420000,...,31.4,35.6,34.1,48.8,47.3,32.8,35.3,66.8,1.5,0.705882
2,california,9.000000,54.666667,18.966667,115.966667,96.966667,65.800000,20.000000,115.000000,95.000000,...,30.7,31.2,32.5,48.8,41.7,30.2,33.6,66.5,0.5,0.636364
3,montana,13.500000,64.000000,8.200000,105.100000,96.950000,62.650000,5.000000,102.100000,97.100000,...,30.5,40.6,35.9,52.0,48.0,36.4,33.3,63.9,-1.4,0.766667
4,bucknell,14.000000,64.000000,7.600000,105.400000,97.800000,65.000000,7.000000,103.700000,96.700000,...,24.3,35.7,29.4,48.3,41.1,35.8,30.5,63.4,1.0,0.818182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,tennessee,6.666667,33.333333,18.916667,112.866667,93.916667,66.550000,19.966667,112.750000,92.783333,...,30.2,33.3,34.9,55.4,44.7,36.7,35.4,68.8,9.9,0.861111
435,purdue,5.333333,32.000000,21.533333,114.411111,92.888889,66.044444,22.022222,113.611111,91.588889,...,27.0,29.9,31.7,51.5,47.2,37.4,34.2,67.0,6.1,0.722222
436,auburn,4.000000,32.000000,20.600000,118.200000,97.600000,72.300000,19.900000,116.800000,96.900000,...,32.8,30.9,36.4,51.7,51.4,38.1,34.8,69.3,6.1,0.769231
437,michigan state,4.636364,23.454545,22.409091,114.954545,92.536364,64.818182,21.981818,113.900000,91.918182,...,26.4,33.6,27.5,54.3,41.9,37.8,31.6,68.6,10.7,0.820513
438,texas tech,5.500000,36.000000,18.300000,113.900000,95.600000,66.300000,18.100000,112.650000,94.550000,...,28.7,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,0.815789

In [12]:
team2_cols.dtypes.unique()

array([dtype('O'), dtype('float64')], dtype=object)

In [13]:
team2_cols.select_dtypes(include=['O'])

              Team2 CONF Team2
0     james madison        CAA
1            temple        A10
2        california        P12
3           montana       BSky
4          bucknell        Pat
..              ...        ...
434       tennessee        SEC
435          purdue        B10
436          auburn        SEC
437  michigan state        B10
438      texas tech        B12

[439 rows x 2 columns]

In [14]:
team1_cols = data.filter(like='Team1')
team1_cols

,Team1,SEED Team1,ROUND Team1,KENPOM ADJUSTED EFFICIENCY Team1,KENPOM ADJUSTED OFFENSE Team1,KENPOM ADJUSTED DEFENSE Team1,KENPOM ADJUSTED TEMPO Team1,BARTTORVIK ADJUSTED EFFICIENCY Team1,BARTTORVIK ADJUSTED OFFENSE Team1,BARTTORVIK ADJUSTED DEFENSE Team1,...,DRB Team1,FTR Team1,FTRD Team1,2P_O Team1,2P_D Team1,3P_O Team1,3P_D Team1,ADJ_T Team1,WAB Team1,WIN_RATE Team1
0,indiana,6.000000,40.0,21.000000,116.950000,95.950000,65.800000,21.800000,116.450000,94.650000,...,31.4,45.8,27.0,52.0,43.2,40.3,30.4,67.8,7.8,0.805556
1,nc state,11.000000,16.0,13.100000,111.800000,98.700000,66.400000,14.800000,111.400000,96.600000,...,32.6,40.9,29.0,52.8,47.5,39.1,30.2,68.1,2.2,0.685714
2,unlv,7.500000,56.0,16.425000,110.100000,93.675000,65.925000,16.875000,108.900000,92.025000,...,27.1,36.7,29.6,48.9,42.6,32.6,31.6,69.3,1.8,0.705882
3,syracuse,2.000000,18.0,24.350000,116.350000,92.000000,66.775000,24.325000,115.400000,91.075000,...,34.5,36.8,35.4,48.5,42.6,33.4,28.4,65.4,5.1,0.750000
4,butler,7.250000,25.0,17.625000,112.225000,94.600000,61.900000,17.100000,110.875000,93.775000,...,26.3,38.4,36.1,50.2,45.3,34.3,33.2,64.7,4.7,0.742857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,purdue,5.333333,32.0,21.533333,114.411111,92.888889,66.044444,22.022222,113.611111,91.588889,...,27.0,29.9,31.7,51.5,47.2,37.4,34.2,67.0,6.1,0.722222
435,virginia,3.333333,36.0,27.116667,114.300000,87.183333,59.066667,26.366667,113.250000,86.883333,...,25.4,29.1,26.3,52.5,45.7,39.5,28.9,60.7,11.1,0.921053
436,virginia,3.333333,36.0,27.116667,114.300000,87.183333,59.066667,26.366667,113.250000,86.883333,...,25.4,29.1,26.3,52.5,45.7,39.5,28.9,60.7,11.1,0.921053
437,texas tech,5.500000,36.0,18.300000,113.900000,95.600000,66.300000,18.100000,112.650000,94.550000,...,28.7,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,0.815789
438,virginia,3.333333,36.0,27.116667,114.300000,87.183333,59.066667,26.366667,113.250000,86.883333,...,25.4,29.1,26.3,52.5,45.7,39.5,28.9,60.7,11.1,0.921053

In [15]:
team1_cols.dtypes.unique()

array([dtype('O'), dtype('float64')], dtype=object)

In [16]:
team1_cols.select_dtypes(include=['O'])

          Team1 CONF Team1
0       indiana        B10
1      nc state        ACC
2          unlv        MWC
3      syracuse         BE
4        butler        A10
..          ...        ...
434      purdue        B10
435    virginia        ACC
436    virginia        ACC
437  texas tech        B12
438    virginia        ACC

[439 rows x 2 columns]

In [17]:
57+57+7

121

In [18]:
filtered_cols = data.filter(regex='^(?!.*Team(1|2)).*$')
filtered_cols

     Year  Seed1  Seed2  Round  spread winner   id
0    2013      1     16      0      21  Team1    0
1    2013      8      9      0      -4  Team2    1
2    2013      5     12      0      -3  Team2    2
3    2013      4     13      0      47  Team1    3
4    2013      6     11      0      12  Team1    4
..    ...    ...    ...    ...     ...    ...  ...
434  2019      3      2      2       5  Team1  436
435  2019      1      3      3       5  Team1  437
436  2019      1      5      4       1  Team1  438
437  2019      3      2      4      10  Team1  439
438  2019      1      3      5       8  Team1  440

[439 rows x 7 columns]

In [19]:
conf_cols = data.filter(like='CONF')
conf_cols

    CONF Team1 CONF Team2
0          B10        CAA
1          ACC        A10
2          MWC        P12
3           BE       BSky
4          A10        Pat
..         ...        ...
434        B10        SEC
435        ACC        B10
436        ACC        SEC
437        B12        B10
438        ACC        B12

[439 rows x 2 columns]

### THESE ARE ALL OF THE SCIKIT LEARN TOOLS WE USED FOR OUR PROJECT (THE SVM MODEL IS IN JOIN NOTEBOOK).

In [1]:
#https://towardsdatascience.com/how-to-build-scikit-learn-pipelines-like-a-pro-107c1ffec225
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

from sklearn.naive_bayes import GaussianNB

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.preprocessing import PowerTransformer
from sklearn.model_selection import GridSearchCV #grid search technique with scikit learn

In [20]:


# Create a LabelEncoder object and fit it to the column data
le_teams = LabelEncoder()
le_teams.fit(data[['Team1', 'Team2']].values.ravel())
data['Team1_num'] = le_teams.transform(data['Team1'])
data['Team2_num'] = le_teams.transform(data['Team2'])

# Create a LabelEncoder object and fit it to the column data
le_conf = LabelEncoder()
le_conf.fit(data[['CONF Team1', 'CONF Team2']].values.ravel())
data['CONF_Team1_num'] = le_conf.transform(data['CONF Team1'])
data['CONF_Team2_num'] = le_conf.transform(data['CONF Team2'])

le_winner = LabelEncoder()
le_winner.fit(data['winner'])
data['winner_num'] = le_winner.transform(data['winner'])

In [67]:
categorical_features = data.select_dtypes(exclude='number').columns.tolist()
data_num = data.drop(categorical_features, axis = 1)
data_num.drop(['id'], axis = 1, inplace=True)

In [127]:
data_num.describe()

,Year,Seed1,Seed2,Round,spread,SEED Team1,SEED Team2,ROUND Team1,ROUND Team2,KENPOM ADJUSTED EFFICIENCY Team1,...,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2,Team1_num,Team2_num,CONF_Team1_num,CONF_Team2_num,winner_num
count,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,...,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000
mean,2016.000000,4.767654,8.781321,0.906606,4.943052,6.149956,7.933591,33.618438,40.528548,19.997881,...,67.505923,5.394989,1.686560,0.772016,0.726411,95.856492,90.407745,10.462415,12.394077,0.366743
std,2.006838,3.208970,4.798927,1.194709,14.041814,2.731868,3.586363,13.199588,15.465823,4.524508,...,3.113128,3.330929,4.911065,0.092635,0.097887,53.027562,50.395015,9.730282,9.766080,0.482465
min,2013.000000,1.000000,1.000000,0.000000,-29.000000,1.250000,1.250000,5.250000,5.250000,-9.500000,...,58.400000,-4.900000,-14.500000,0.555556,0.375000,6.000000,0.000000,0.000000,0.000000,0.000000
25%,2014.000000,2.000000,4.000000,0.000000,-4.000000,4.333333,5.428571,25.443182,29.500000,17.383333,...,65.300000,2.750000,-1.250000,0.704293,0.657143,55.000000,48.000000,4.000000,5.000000,0.000000
50%,2016.000000,5.000000,9.000000,0.000000,5.000000,5.833333,7.400000,32.000000,40.067478,20.250000,...,67.200000,5.000000,1.600000,0.771429,0.727273,86.000000,85.000000,6.000000,8.000000,0.000000
75%,2018.000000,7.000000,13.000000,1.000000,14.000000,7.625000,9.000000,40.033739,53.333333,22.910000,...,69.750000,7.800000,5.850000,0.846154,0.794495,149.000000,134.000000,21.500000,22.000000,1.000000
max,2019.000000,16.000000,16.000000,5.000000,47.000000,16.000000,16.000000,68.000000,68.000000,29.040000,...,77.300000,13.100000,11.700000,0.974359,0.948718,180.000000,180.000000,31.000000,31.000000,1.000000

In [ ]:
section_size = 6
for section_start in range(0, len(data_num.columns), section_size):
    section_end = section_start + section_size
    section = data_num.iloc[:, section_start:section_end]
    #print(f"Section {section.columns[0]} - {section.columns[-1]}:")
    print(section)
    print("------------------------------------------------------")

In [ ]:
data_num.dtypes

In [33]:
data_num.select_dtypes(exclude='number').columns.tolist()

[]

In [148]:
discrete_cols = ['CONF_Team1_num','CONF_Team2_num','Team1_num','Team2_num','Year','Seed1','Seed2']

### THE BELOW CODE IS HOW WE DETERMINED THE CORRELATION CUT OFF OF FEATURES

In [84]:
label_col = 'winner_num'
features = [x for x in list(data_num.columns) if x != 'winner_num']
corre_dict = {}
for col in features:
    corre_dict[col] = data_num[label_col].corr(data_num[col])

In [87]:
corre_dict_neg = {key: value for key, value in corre_dict.items() if value < 0}
corre_dict_pos = {key: value for key, value in corre_dict.items() if value > 0}

In [88]:
corre_dict_neg = dict(sorted(corre_dict_neg.items(), key=lambda x: x[1]))
corre_dict_pos = dict(sorted(corre_dict_pos.items(), key=lambda x: x[1]))

In [98]:
neg_mean = np.mean(np.array(list(corre_dict_neg.values())))
neg_std = np.std(np.array(list(corre_dict_neg.values())))
pos_mean = np.mean(np.array(list(corre_dict_pos.values())))
pos_std = np.std(np.array(list(corre_dict_pos.values())))
neg_cut_off = neg_mean-(neg_std/2)
pos_cut_off = pos_mean-(pos_std/6)
print(neg_cut_off,pos_cut_off)

-0.20481440847832744 0.09436541402849129

In [100]:
neg_corr_cols = [key for key, value in corre_dict_neg.items() if value > neg_cut_off]
pos_corr_cols = [key for key, value in corre_dict_pos.items() if value < pos_cut_off]

In [102]:
cols_to_drop = neg_corr_cols+pos_corr_cols
len(cols_to_drop)

80

In [116]:
data_num_reduced = data_num.drop(discrete_cols, axis=1)
l = [col for col in cols_to_drop if col not in discrete_cols]
data_num_reduced = data_num.drop(l, axis=1)

In [149]:
l2 = list(set(cols_to_drop + discrete_cols))
data_num_reduced_continous = data_num.drop(l2, axis = 1)

In [151]:
data_num_reduced_continous.spread.unique()

array([ 21,  -4,  -3,  47,  12,   1,   8,  29,   6,  -6,  -2, -11,  10,
        16,  31, -13,  20,   2,  11,   4,  26,  17, -22, -16, -10,  22,
       -18,  25,  23,  14,   7,  46,  15, -20,  32, -25, -14,  -5,  27,
         3, -19,  -7, -15,   5, -29,  -1,  24, -17,  18,   9,  19,  40,
        30,  -8,  41,  13,  39, -12,  -9,  28, -23,  36,  44, -26,  38,
       -21, -28,  34,  35], dtype=int64)

### THE BELOW IS OUR PIPELINE FOR THE NAIVE BAYES GAUSSIAN MODEL

In [152]:
game_outcome = data_num_reduced_continous['winner_num']
game_data = data_num_reduced_continous.drop(['winner_num'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(game_data, game_outcome, test_size=0.2, random_state=42)

In [153]:
col_transformation_pipeline = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='mean')),
    ('scale', MinMaxScaler())
])

In [154]:
game_data_columns = game_data.columns.tolist()

columns_transformer = ColumnTransformer(transformers=[
    ('cols', col_transformation_pipeline, game_data_columns),
])

In [155]:
gnb_classifier = GaussianNB()

In [156]:
NB_Gaussian_model_pipeline = Pipeline(steps=[
    ('preprocessing', columns_transformer),
    ('gnb_model', gnb_classifier),
])

In [157]:
NB_Gaussian_model_pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('cols',
                                                  Pipeline(steps=[('impute',
                                                                   SimpleImputer()),
                                                                  ('scale',
                                                                   MinMaxScaler())]),
                                                  ['spread', 'SEED Team1',
                                                   'SEED Team2', 'ROUND Team1',
                                                   'ROUND Team2',
                                                   'KENPOM ADJUSTED EFFICIENCY '
                                                   'Team1',
                                                   'KENPOM ADJUSTED EFFICIENCY '
                                                   'Team2',
                                                   'KENPOM ADJUSTED OFFENSE '
                                                   'Team2',
                                                   'KENPOM ADJUSTED DEFENSE '
                                                   'Team1',
                                                   'KENPOM ADJUSTED DE...
                                                   'BARTTORVIK ADJUSTED '
                                                   'DEFENSE Team1',
                                                   'BARTTORVIK ADJUSTED '
                                                   'DEFENSE Team2',
                                                   'BARTHAG Team1',
                                                   'BARTHAG Team2',
                                                   'ELITE SOS Team1',
                                                   'ELITE SOS Team2',
                                                   'OFFENSIVE REBOUND % Team2',
                                                   'BLOCK % Team2',
                                                   '2PT % DEFENSE Team1',
                                                   'EFG % DEFENSE Team1',
                                                   'WINS ABOVE BUBBLE Team1',
                                                   'WINS ABOVE BUBBLE Team2',
                                                   'ADJOE Team1', 'ADJOE Team2',
                                                   'ADJDE Team1', 'ADJDE Team2',
                                                   'EFG_O Team2', ...])])),
                ('gnb_model', GaussianNB())])

In [158]:
y_pred = NB_Gaussian_model_pipeline.predict(X_test)

In [ ]:
cv_method = RepeatedStratifiedKFold(n_splits=5,  n_repeats=3, random_state=999)

params_NB = {'var_smoothing': np.<a onclick="parent.postMessage({'referent':'.numpy.logspace'}, '*')">logspace(0,-9, num=100)}

gs_NB = GridSearchCV(estimator=model, param_grid=params_NB, cv=cv_method,verbose=1,scoring='accuracy')
Data_transformed = PowerTransformer().fit_transform(X_test)
gs_NB.fit(Data_transformed, y_test);

In [ ]:
'''
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
DO NOT RUN THE BELOW REPORTS.
KEEP THEM TO COMPARE MODELS.
ADD ANOTHER TO THE BOTTOM IF YOU HAVE A VARIATION ON THE DATA AND RE-RAN A MODLE. 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
'''

### THESE ARE THE RESULTS OF OUR GNB MODEL WITH THE VARIATIONS OF FEATURES

In [124]:
#all of data_num

In [52]:
cm = confusion_matrix(y_test,y_pred)
cm
# cm[0][0] = TP
# cm[1][1] = TN
# cm[0][1] = FP
# cm[1][0] = FN

array([[43, 18],
       [ 6, 21]], dtype=int64)

In [55]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.88      0.70      0.78        61
           1       0.54      0.78      0.64        27

    accuracy                           0.73        88
   macro avg       0.71      0.74      0.71        88
weighted avg       0.77      0.73      0.74        88

In [111]:
#data_num_reduced SOME CATEGORICAL FEATURES, REMOVING COLUMNS THAT HAVE LOW CORRELATION WITH THE LABEL (ONE STD DEVIATION FROM MEAN CORELATION.)

In [125]:
cm = confusion_matrix(y_test,y_pred)
cm
# cm[0][0] = TP
# cm[1][1] = TN
# cm[0][1] = FP
# cm[1][0] = FN

array([[47, 14],
       [ 4, 23]], dtype=int64)

In [126]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.77      0.84        61
           1       0.62      0.85      0.72        27

    accuracy                           0.80        88
   macro avg       0.77      0.81      0.78        88
weighted avg       0.83      0.80      0.80        88

In [159]:
#DISCRETE LABEL, CONTINOUS FEATURES, REMOVING COLUMNS THAT HAVE LOW CORRELATION WITH THE LABEL (ONE STD DEVIATION FROM MEAN CORELATION.)

In [162]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[49, 12],
       [ 4, 23]], dtype=int64)

In [163]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.80      0.86        61
           1       0.66      0.85      0.74        27

    accuracy                           0.82        88
   macro avg       0.79      0.83      0.80        88
weighted avg       0.84      0.82      0.82        88