In [124]:
import pandas as pd
import numpy as np

In [125]:
df= pd.read_csv('Tournament Team Data (Including 2023).csv')
tournament_teams_13_19 = {

'Abilene Christian',

'Akron',

'Alabama',

'Alabama-Birmingham',

'Albany (NY)',

'American',

'Arizona',

'Arizona State',

'Arkansas',

'Auburn',

'Austin Peay',

'BYU',

'Baylor',

'Belmont',

'Bradley',

'Bucknell',

'Buffalo',

'Butler',

'Cal Poly',

'Cal State Bakersfield',

'Cal State Fullerton',

'California',

'Chattanooga',

'Cincinnati',

'Clemson',

'Coastal Carolina',

'Colgate',

'College of Charleston',

'Colorado',

'Colorado State',

'Creighton',

'Davidson',

'Dayton',

'Delaware',

'Duke',

'ETSU',

'Eastern Kentucky',

'Eastern Washington',

'Fairleigh Dickinson',

'Florida',

'Florida Gulf Coast',

'Florida State',

'Fresno State',

'Gardner-Webb',

'George Washington',

'Georgetown',

'Georgia',

'Georgia State',

'Gonzaga',

'Green Bay',

'Hampton',

'Harvard',

'Hawaii',

'Holy Cross',

'Houston',

'Illinois',

'Indiana',

'Iona',

'Iowa',

'Iowa State',

'Jacksonville State',

'James Madison',

'Kansas',

'Kansas State',

'Kent State',

'Kentucky',

'LSU',
'La Salle',
'Lafayette',
'Liberty',
'Lipscomb',
'Little Rock',
'Louisiana',
'Louisville',
'Loyola (IL)',
'Manhattan',
'Marquette',
'Marshall',
'Maryland',
'Memphis',
'Mercer',
'Miami (FL)',
'Michigan',
'Michigan State',
'Middle Tennessee',
'Milwaukee',
'Minnesota',
'Mississippi State',
'Missouri',
'Montana',
"Mount St. Mary's",
'Murray State',
'NC State',
'Nebraska',
'Nevada',
'New Mexico',
'New Mexico State',
'North Carolina A&T',
'North Carolina Central',
'North Dakota',
'North Dakota State',
'Northeastern',
'Northern Iowa',
'Northern Kentucky',
'Northwestern',
'Northwestern State',
'Notre Dame',
'Ohio State',
'Oklahoma',
'Oklahoma State',
'Old Dominion',
'Ole Miss',
'Oregon',
'Oregon State',
'Pacific',
'Penn',
'Pitt',
'Princeton',
'Providence',
'Purdue',
'Radford',
'Rhode Island',
'Robert Morris',
'SMU',
'Saint Louis',
"Saint Mary's",
'San Diego State',
'Seton Hall',
'South Carolina',
'South Dakota State',
'Southern',
'St. Bonaventure',
"St. John's (NY)",
"St. Joseph's",
'Stanford',
'Stephen F. Austin',
'Stony Brook',
'Syracuse',
'TCU',
'Temple',
'Tennessee',
'Texas',
'Texas A&M',
'Texas Southern',
'Texas Tech',
'Troy',
'Tulsa',
'UC-Davis',
'UC-Irvine',
'UCF',
'UCLA',
'UConn',
'UMBC',
'UMass',
'UNC',
'UNC Asheville',
'UNC Greensboro',
'UNC Wilmington',
'UNLV',
'USC',
'Utah',
'Utah State',
'VCU',
'Valparaiso',
'Vanderbilt',
'Vermont',
'Villanova',
'Virginia',
'Virginia Tech',
'Washington',
'Weber State',
'West Virginia',
'Western Kentucky',
'Western Michigan',
'Wichita State',
'Winthrop',
'Wisconsin',
'Wofford',
'Wright State',
'Wyoming',
'Xavier',
'Yale'
}
tournament_teams_13_19 = {ele.lower() for ele in tournament_teams_13_19}



names = ['virginia', 'north carolina', 'michigan st.', 'florida st.', 'kansas st.', 'mississippi st.', 'iowa st.', 'mississippi', 'utah st.', 'ohio st.', 'arizona st.', 'st. john\'s', 'murray st.', 'new mexico st.', 'uc irvine', 'georgia st.', 'gardner webb', 'north dakota st.', 'prairie view a&m', 'wichita st.', 'miami fl', 'north carolina st.', 'loyola chicago', 'san diego st.', 'south dakota st.', 'wright st.', 'cal st. fullerton', 'liu brooklyn', 'oklahoma st.', 'wake forest', 'east tennessee st.', 'kent st.', 'jacksonville st.', 'uc davis', 'new orleans', 'oregon st.', 'saint joseph\'s', 'connecticut', 'pittsburgh', 'arkansas little rock', 'fresno st.', 'cal st. bakersfield', 'weber st.', 'boise st.', 'uab', 'albany', 'north florida', 'massachusetts', 'louisiana lafayette', 'colorado st.', 'northwestern st.']
def replace_st(df):
    for i, name in df['TEAM'].iteritems():
        if name == "virginia" or name == "mississippi" or name == "new orleans" or name == "connecticut" or name == "pittsburgh":
            continue
        elif name.endswith("st."):
            # if name.startswith("saint"):
            #     df.at[i, 'TEAM'] = name.replace("st.", "saint")
            # else:
            df.at[i, 'TEAM'] = name.replace("st.", "state")
    return df

#change the names of the teams in the mdf to match the jdf
#change Texas A&M CC to Texas A&M\\
df['TEAM'] = df['TEAM'].replace('Texas A&M CC', 'Texas A&M')
df['TEAM'] = df['TEAM'].replace('east tennessee state', 'etsu')
df['TEAM'] = df['TEAM'].str.lower()
replace_st(df)
df['TEAM'] = df['TEAM'].replace('east tennessee state', 'etsu')
df['TEAM'] = df['TEAM'].replace('arkansas little rock', 'little rock')
df['TEAM'] = df['TEAM'].replace('gardner webb', 'gardner-webb')
df['TEAM'] = df['TEAM'].replace('pittsburgh', 'pitt')
df['TEAM'] = df['TEAM'].replace('uc davis', 'uc-davis')
df['TEAM'] = df['TEAM'].replace('connecticut', 'uconn')
df['TEAM'] = df['TEAM'].replace('cal st. fullerton', 'cal state fullerton')
df['TEAM'] = df['TEAM'].replace('cal st. bakersfield', 'cal state bakersfield')
df['TEAM'] = df['TEAM'].replace('massachusetts', 'umass')
df['TEAM'] = df['TEAM'].replace("saint joseph's", "st. joseph's")
df['TEAM'] = df['TEAM'].replace("north carolina state", "nc state")
df['TEAM'] = df['TEAM'].replace('uc irvine', 'uc-irvine')
df['TEAM'] = df['TEAM'].replace("louisiana lafayette", "louisiana")
df['TEAM'] = df['TEAM'].replace("mississippi", "ole miss")
df['TEAM'] = df['TEAM'].replace("loyola chicago", "loyola (il)")
df['TEAM'] = df['TEAM'].replace("miami fl", "miami (fl)")
df['TEAM'] = df['TEAM'].replace("albany", "albany (ny)")
df['TEAM'] = df['TEAM'].replace("st. john's", "st. john's (ny)")
df['TEAM'] = df['TEAM'].replace("north carolina", "unc")
df['TEAM'] = df['TEAM'].replace("uab", "alabama-birmingham")

df =  df[df['TEAM'].apply(lambda x: x in tournament_teams_13_19)]




# sunm = 0
# for n in tournament_teams_13_19:
#     if n not in df['TEAM'].unique():
#         sunm += 1
#         print(n)
# print(f"# of missing teams: {sunm}")

# for m in df['TEAM'].unique():
#     if m not in tournament_teams_13_19:
#         print(m)

#See if the "missing" teams are in the df. If no rows are returned, print the team's name
names = (sorted(set(tournament_teams_13_19)) == sorted(set(df['TEAM'].unique())))
print(names)
print(len(set(df['TEAM'].unique())))
print(len(tournament_teams_13_19))
# for n in names:
#     subset = df.loc[(df['TEAM'] == n)]
#     if len(subset) == 1:
#         print(n)

df.to_csv('cleaned_data.csv', index=False)

True
182
182

In [126]:
list(df['TEAM'].unique())
l = [i for i in tournament_teams_13_19 if i not in df['TEAM'].unique()]
print(l)

[]

In [127]:
orig_to_jacob = {
        'gardner webb':'gardner-webb',
        'uab': 'alabama-birmingham',
        "east tennessee st." : "etsu",
        "mount st. mary's": "mount st. mary's", 
        'uc davis': 'uc-davis',
        'mississippi': 'ole miss',
        "st. john's": "st. john's (ny)",
        'miami fl': 'miami (fl)',
        'north carolina': 'unc',
        'connecticut': 'uconn',
        'uc irvine': 'uc-irvine',
        "saint joseph's": "st. joseph's",
        'louisiana lafayette': 'louisiana',
        'loyola chicago': 'loyola (il)',
        "st. bonaventure": "st. bonaventure",
        'massachusetts': 'umass',
        "north carolina st.": 'nc state',
        'pittsburgh': 'pitt',
        'albany': 'albany (ny)'
    }

In [128]:
df.loc[df['TEAM'].str.contains('uab')]

Empty DataFrame
Columns: [YEAR, SEED, TEAM, ROUND, KENPOM ADJUSTED EFFICIENCY, KENPOM ADJUSTED OFFENSE, KENPOM ADJUSTED DEFENSE, KENPOM ADJUSTED TEMPO, BARTTORVIK ADJUSTED EFFICIENCY, BARTTORVIK ADJUSTED OFFENSE, BARTTORVIK ADJUSTED DEFENSE, BARTHAG, ELITE SOS, BARTTORVIK ADJUSTED TEMPO, 2PT %, 3PT %, FREE THROW %, EFG %, FREE THROW RATE, 3PT RATE, ASSIST %, OFFENSIVE REBOUND %, DEFENSIVE REBOUND %, BLOCK %, TURNOVER %, 2PT % DEFENSE, 3PT % DEFENSE, FREE THROW % DEFENSE, EFG % DEFENSE, FREE THROW RATE DEFENSE, 3PT RATE DEFENSE, OP ASSIST %, OP O REB %, OP D REB %, BLOCKED %, TURNOVER % DEFENSE, WINS ABOVE BUBBLE, WIN %, POINTS PER POSSESSION OFFENSE, POINTS PER POSSESSION DEFENSE, TEAM.1]
Index: []

[0 rows x 41 columns]

In [129]:
overallAverage = df.describe().loc['mean']

In [130]:
def getTeamAverage(df, year, team):
    overallAverage = df.describe().loc['mean']
    averagedf = df.loc[(df['YEAR'] < year) & (df['TEAM']==team)].mean()

    
    if averagedf.isnull().all():
        return overallAverage.to_frame()
    else:
        return averagedf.to_frame()

In [131]:
year= 2019
team = 'duke'
getTeamAverage(df, year, team)


# df13 = df.loc[(df['YEAR'] < year) & (df['TEAM']==team)].mean()


# # if df13.isna():
# #         print("yes")

# df13.head(17)
# # df13.loc['KENPOM ADJUSTED EFFICIENCY'] == float('nan')
# df13.isnull().all()

C:\Users\jackh\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

                                          0
YEAR                            2013.000000
SEED                               2.000000
ROUND                             23.454545
KENPOM ADJUSTED EFFICIENCY        26.581818
KENPOM ADJUSTED OFFENSE          120.472727
KENPOM ADJUSTED DEFENSE           93.854545
KENPOM ADJUSTED TEMPO             67.109091
BARTTORVIK ADJUSTED EFFICIENCY    27.772727
BARTTORVIK ADJUSTED OFFENSE      120.300000
BARTTORVIK ADJUSTED DEFENSE       92.527273
BARTHAG                            0.951364
ELITE SOS                         32.855455
BARTTORVIK ADJUSTED TEMPO         68.963636
2PT %                             51.827273
3PT %                             38.118182
FREE THROW %                      72.454545
EFG %                             53.790909
FREE THROW RATE                   39.390909
3PT RATE                          36.454545
ASSIST %                          51.927273
OFFENSIVE REBOUND %               35.363636
DEFENSIVE REBOUND %               67.936364
BLOCK %                            9.636364
TURNOVER %                        16.572727
2PT % DEFENSE                     46.645455
3PT % DEFENSE                     31.427273
FREE THROW % DEFENSE              69.063636
EFG % DEFENSE                     46.800000
FREE THROW RATE DEFENSE           30.390909
3PT RATE DEFENSE                  26.900000
OP ASSIST %                       47.281818
OP O REB %                        32.063636
OP D REB %                        64.636364
BLOCKED %                          8.663636
TURNOVER % DEFENSE                20.054545
WINS ABOVE BUBBLE                  7.881818
WIN %                             81.494545
POINTS PER POSSESSION OFFENSE      1.158455
POINTS PER POSSESSION DEFENSE      0.969455

In [132]:
counts = df['TEAM'].value_counts()
counts

gonzaga           15
michigan state    15
kansas            15
duke              14
villanova         13
                  ..
fresno state       1
hawaii             1
north dakota       1
troy               1
stony brook        1
Name: TEAM, Length: 182, dtype: int64

0                alabama
1                houston
2                 kansas
3                 purdue
4                arizona
              ...
1002            american
1003         austin peay
1004             belmont
1005                umbc
1007    mount st. mary's
Name: TEAM, Length: 904, dtype: object

In [182]:
years = [2013, 2014, 2015, 2016, 2017, 2018, 2019]
series = []
df.drop(columns=['TEAM.1'], inplace=True)

for year in years:
    for team in tournament_teams_13_19:
        s = getTeamAverage(df, year, team)
        list = s.values.tolist()
        list = [i[0] for i in list]
        list[0] = year
        list.insert(2, team)
        series.append(list)

df2 = pd.DataFrame(data=series, columns=df.columns)
df2.describe()

C:\Users\jackh\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

,YEAR,SEED,ROUND,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,BARTTORVIK ADJUSTED OFFENSE,BARTTORVIK ADJUSTED DEFENSE,...,3PT RATE DEFENSE,OP ASSIST %,OP O REB %,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE
count,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,...,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000,1274.000000
mean,2016.000000,9.638140,46.792479,13.486565,110.554186,97.066586,65.408903,13.239782,109.367399,96.127617,...,33.588201,51.235454,30.305571,67.044790,8.677286,19.984146,0.488521,71.664077,1.081825,0.973543
std,2.000785,3.732395,15.036810,7.500595,4.682319,4.428587,2.462791,7.835473,4.939937,4.457165,...,3.364751,3.767857,2.325897,3.114064,1.220837,1.882766,4.110246,7.493499,0.035828,0.035184
min,2013.000000,1.250000,4.000000,-11.500000,92.600000,86.866667,58.380000,-11.300000,90.700000,86.133333,...,22.400000,39.600000,22.700000,55.950000,5.350000,13.600000,-15.600000,36.670000,0.920000,0.871000
25%,2014.000000,7.000000,37.333333,8.950000,108.200000,94.362500,63.837500,8.056250,106.612500,93.325000,...,31.800000,49.125000,29.261615,65.125000,7.975000,19.000000,-1.600000,68.646500,1.064500,0.954000
50%,2016.000000,8.252212,42.666667,16.002874,112.194953,96.189423,66.000000,15.784121,111.200936,95.416815,...,34.133333,50.761173,29.700000,67.472235,8.619027,19.613827,1.913496,72.889159,1.090898,0.971950
75%,2018.000000,13.000000,64.000000,18.276667,113.300000,99.100000,66.300000,18.243750,112.000000,98.200000,...,34.810714,53.000000,31.900000,68.480000,9.200000,21.000000,2.986458,75.000000,1.098375,0.986000
max,2019.000000,16.000000,68.000000,29.040000,121.566667,114.600000,76.100000,29.820000,120.900000,114.700000,...,45.900000,66.400000,38.300000,77.900000,13.700000,25.160000,9.150000,91.965000,1.183333,1.119000

In [186]:
df2
df2.to_csv('average_data.csv', index=False)

In [185]:
s = getTeamAverage(df, 2013, 'oregon')
list = s.values.tolist()
# list[0] = 2019
# list.insert(0, 'duke')
list

list = [i[0] for i in list]
s

C:\Users\jackh\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

                                       0
YEAR                            2008.000
SEED                               9.000
ROUND                             64.000
KENPOM ADJUSTED EFFICIENCY        16.700
KENPOM ADJUSTED OFFENSE          119.300
KENPOM ADJUSTED DEFENSE          102.600
KENPOM ADJUSTED TEMPO             64.900
BARTTORVIK ADJUSTED EFFICIENCY    16.600
BARTTORVIK ADJUSTED OFFENSE      117.800
BARTTORVIK ADJUSTED DEFENSE      101.200
BARTHAG                            0.852
ELITE SOS                         35.620
BARTTORVIK ADJUSTED TEMPO         67.900
2PT %                             53.900
3PT %                             40.100
FREE THROW %                      68.900
EFG %                             56.300
FREE THROW RATE                   36.900
3PT RATE                          39.000
ASSIST %                          55.300
OFFENSIVE REBOUND %               32.300
DEFENSIVE REBOUND %               68.800
BLOCK %                            6.700
TURNOVER %                        18.600
2PT % DEFENSE                     50.100
3PT % DEFENSE                     33.600
FREE THROW % DEFENSE              69.300
EFG % DEFENSE                     50.200
FREE THROW RATE DEFENSE           33.300
3PT RATE DEFENSE                  35.300
OP ASSIST %                       52.900
OP O REB %                        31.200
OP D REB %                        67.700
BLOCKED %                          9.700
TURNOVER % DEFENSE                16.400
WINS ABOVE BUBBLE                  0.800
WIN %                             58.060
POINTS PER POSSESSION OFFENSE      1.130
POINTS PER POSSESSION DEFENSE      1.065